{% extends "nesports/header.html" %} 
{% load static %}

{% block content %}
<h1 class="logo" style="color: #004280; text-shadow: 3px 2px white"> New England Patriots</h1>
<div class="block" style="background-image: url('/static/images/patriots1.jpg');">
<h2 ></h2>
</div>
<form action="{% url 'analyze' %}" method="post">
  {% csrf_token %}
    <select id="granularity" name="type">
      <option value="player">{{ gran }}</option>
      <option value="player">player</option>
      <option value="team">team</option>
      <option value="league">league</option>
    </select>
    <select id="year" name="year">
      <option value="2017">{{ year }}</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
      <option value="2013">2013</option>
    </select>
  <select id="playaggr" name="play">
    <option value="touchdowns">{{ play }}</option>
    <option value="touchdowns">touchdowns</option>
    <option value="rushyards">rushyards</option>
    <option value="two_pt">two_pt</option>
    <option value="passyards">passyards</option>
  </select>
  <input id="submit" type="submit" name="submit">

<table id="dytable">
  <thead>
  <tr><th>Team</th><th>Player</th><th>Aggregate</th></tr>
  </thead>
  {% for row in nfl %}
  <tr>
    <td>{{ row.team }}</td>
    <td>{{ row.player }}</td>
    {% if row.touchdowns %}
      <td>{{ row.touchdowns }}</td>
    {% endif %}
    {% if row.passyards %}
      <td>{{ row.passyards }}</td>
    {% endif %}
    {% if row.rushyards %}
      <td>{{ row.rushyards }}</td>
    {% endif %}
    {% if row.two_pt %}
      <td>{{ row.two_pt }}</td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
</form>

<script>
function myFunction() {
    document.getElementById("gran").value = document.getElementById("granularity").value;
    document.getElementById("season").value = document.getElementById("year").value;
    document.getElementById("aggr").value = document.getElementById("playaggr").value;
}
function printTable() {
	var globalCounter = 0;
	var tbody = document.getElementById('t_body');
	obj = [['num1', 'num2'],[1, 2],[3, 4]];
	var heading = obj[0];
	var t = "<tr><td>" + heading[0] + "</td><td>" + heading[1] + "</td><tr>";
	for (var i = 1; i < obj.length; i++) {
	    t += "<tr>";
	    cols = obj[i];
	    for (var j = 0; j < cols.length; j++){
	        t += "<td>" + cols[j] + "</td>";
	    }
	    t += "</tr>";
	 }

     /* We add the table row to the table body */
     tbody.innerHTML = t;
	}
function printModel() {
	var globalCounter = 0;
	var tbody = document.getElementById('t_body');
	obj = "{{nfl}}";
	count = obj.objects.count();
	for (var i = 1; i < count; i++){
	    t += "<tr>";
	    t += "<td>"+obj.objects.get(id=i).player+"</td>";
	    t += "<td>"+obj.objects.get(id=i).team+"</td>";
	    t += "</tr>";
	 }

     /* We add the table row to the table body */
     tbody.innerHTML = t;
	}

</script>
  
{% endblock %}