{% extends "nesports/header.html" %} 
{% load static %}

{% block content %}
<h1 class="logo" style="color: #990000; text-shadow: 3px 2px white"> Boston RedSox</h1>
<div class="block" style="background-image: url('/static/images/redsox1.jpg');">
<h2></h2>
</div>
<form action="{% url 'analyzem' %}" method="post">
  {% csrf_token %}
    <select id="granularity" name="type">
      <option value="Players">{{ gran }}</option>
      <option value="Players">player</option>
      <option value="Teams">team</option>
      <option value="League">league</option>
    </select>
    <select id="year" name="year">
      <option value="2017">{{ year }}</option>
      <option value="2017">2017</option>
      <option value="2016">2016</option>
      <option value="2015">2015</option>
      <option value="2014">2014</option>
    </select>
  <select id="playaggr" name="play">
    <option value="games">{{ play }}</option>
    <option value="homeplate">homeplate</option>
    <option value="homeruns">homeruns</option>
    <option value="walks">walks</option>
    <option value="games">games</option>
  </select>
  <input type="submit" name="submit">

<table id="dytable">
  <thead>
  <tr><th>Team</th><th>Player</th><th>Aggregate</th></tr>
  </thead>
  {% for row in mlb %}
  <tr>
    <td>{{ row.team }}</td>
    <td>{{ row.player }}</td>
    {% if row.homeplate %}
      <td>{{ row.homeplate }}</td>
    {% endif %}
    {% if row.homeruns %}
      <td>{{ row.homeruns }}</td>
    {% endif %}
    {% if row.walks %}
      <td>{{ row.walks }}</td>
    {% endif %}
    {% if row.games %}
      <td>{{ row.games }}</td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
</form>
{% endblock %}
